<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="dates-selector">
    <template>
            <label for="date_1">
                <span>Fecha 1</span>
                <input type="text" name="date_1" id="date_1" value="{{date1}}" required>
            </label>
            <br>
            <label for="date_2">
                <span>Fecha 2</span>
                <input type="text" name="date_2" id="date_2" value="{{date2}}" required>
            </label>
    </template>
    <script>
        Polymer({
            is: 'dates-selector',
            properties: {
                date1: {
                    type: String
                },
                date2: {
                    type: String
                }
            }
        });
    </script>
</dom-module>
