<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../components/dates-selector.html">

<dom-module id="edit-form">
    <template>
        <form method="post" action="./#/people-details-page/">
            <label for="name">
                <span>Nombre</span>
                <input type="text" name="name" id="name" value="{{user.name}}" required>
            </label>
            <br>
            <label for="lastname">
                <span>Apellido</span>
                <input type="text" name="lastname" id="lastname" value="{{user.lastname}}" required>
            </label>
            <br>
            <dates-selector date1$="{{user.date_1}}" date2$="{{user.date_2}}"></dates-selector>
            <br>
            <label for="gender">
                <span>Sexo</span>
                <input type="text" name="gender" id="gender" value="{{user.gender}}" required>
            </label>
            <br>
            <label for="isadmin">
                <span>Admin</span>
                <input type="text" name="isadmin" id="isadmin" value="{{user.isAdmin}}" required>
            </label>
            <br>
        </form>
        <iron-ajax
            auto
            id="requestRepos"
            url="{{getUrl}}"
            handle-as="json"
            last-response="{{user}}"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: 'edit-form',
            properties: {
                userid: {
                    value: '',
                    notify: true
                },
                getUrl: {
                    computed: 'computeGetUrl(userid)'
                }
            },
            computeGetUrl: function (userid) {
                return '/data/user.json' + '?' + userid;
            }
        });
    </script>
</dom-module>
